:root {
    --main__font : "GmarketSans";
    --main__win : "NanumSquareNeo";

    --font__size: "16px";

    --color__black: #000;
    --color__white: #fff;

    --bg__gray: #eee;
    --bg__darkgray: #e0e0e0ee;
    --bg__darkgray2: #d4d4d4;
    --bg__black: #000;
    --bg__white: #fff;
}

@media (max-width: 800px){
    
}